# Prevent Access to Directory Navigation Page 

Options -MultiViews

# Prevent Access to Directories and or Files

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite Request FileName to index.php?url=...

# Turn On Rewrite Engine

RewriteEngine On

# Rewrite Base to Change Base Url

RewriteBase /

# QSA: Append Any Unused Match to the End of the Url
# L: Last Instruction If Match Is Found

# Match Whole Url (Stored in $1), Then Store in $_GET['url'] Variable in Php via '?variable='

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# If Empty, Store Empty String Inside 'url'

RewriteRule ^()$ index.php?url=$1 [QSA,L]