.cards {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 245px);
    grid-auto-rows: 245px;
    grid-gap: 16px;
}

.card-l .card-img {
    width: 100%;
    height: 128px;
    object-fit: none;
    border-radius: 8px;
}

.card-l .card-head {
    display: flex;
    align-items: center;
    height: 38px;
    margin: 8px 0;
}

.card-s {
    max-width: 245px;
    max-height: 245px;
}

.card-s .card-img {
    width: 100%;
    height: 72px;
    object-fit: none;
    border-radius: 8px 8px 0px 0px;
}

.card-s .card-head {
    display: flex;
    align-items: center;
    height: 32px;
}

.card-l .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 100%;
    width: 100%;
}

.card-l .card-title:hover {
    overflow: visible;
    position: relative;
    z-index: 2;
}

.card-l .card-title span:hover {
    background-color: var(--dark);
    display: inline-block;
    position: relative;
    padding: 0 8px 8px 8px;
    border-radius: 8px;
}

.card-l .card-rating {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.card-l .card-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100%;
    height: 68px;
    max-width: 100%;
}

.card-l .card-desc:hover {
    overflow: visible;
    position: relative;
    max-height: 68px;
    z-index: 2;
}

.card-l .card-desc p {
    font-size: var(--normal);
}

.card-l .card-desc:hover p {
    background-color: var(--dark);
    display: inline-block;
    position: relative;
    padding: 4px 8px;
    border-radius: 8px;
}

.card-l .card-info {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--light);
    font-size: var(--normal);
    margin: 16px 0;
}

.card-l .card-info span {
    max-width: 100%;
    color: var(--light);
    font-size: var(--normal);
}

.card-l .card-btns {
    display: flex;
}

.card-l .card-btns .btn-w {
    margin-left: 16px;
}

.card-l .btn-l, .card-l .btn-w {
    width: 100%;
}

.card-l .btn-b {
    margin-left: 16px;
    flex-shrink: 0;
}

.card-s .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 100%;
    width: 100%;
}

.card-s .card-title:hover {
    overflow: visible;
    position: relative;
    z-index: 2;
}

.card-s .card-title span:hover {
    background-color: var(--dark);
    display: inline-block;
    position: relative;
    padding: 4px 8px;
    border-radius: 8px;
}

.card-s .card-rating {
    margin-left: auto;
    font-size: var(--big);
}

.card-s svg {
    margin-left: 4px;
}

.fullstar {
    fill: var(--accent);
}

.emptystar {
    fill: var(--dark);
}

.card-s .card-info {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--light);
    font-size: var(--small);
}

.card-s .card-info span {
    max-width: 100%;
    color: var(--light);
    font-size: var(--small);
}

.card-s .card-info a {
    font-size: var(--small);
}

.card-s .card-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100%;
    height: 38px;
    max-width: 100%;
    margin-bottom: 16px;
}

.card-s .card-desc:hover {
    overflow: visible;
    position: relative;
    max-height: 38px;
    z-index: 2;
}

.card-s .card-desc p {
    font-size: var(--small);
}

.card-s .card-desc:hover p {
    background-color: var(--dark);
    display: inline-block;
    position: relative;
    padding: 4px 8px;
    border-radius: 8px;
}