h2 {
    padding-top: 16px;
}

h2, h3 {
    margin-bottom: 16px;
}

.form-field {
    margin-bottom: 16px;
}

form .form-field textarea {
    width: 100% !important;
}

form .form-field input[name='quiz-name'],
form .form-field input[name='quiz-banner'],
form .form-field input[name='quiz-privacy'] {
    width: 84%;
}

.form-field .form-time {
    display: flex;
    align-items: center;

    width: 26%;
}

.form-field .form-time input {
    width: 100%;
    height: 48px;

    background: transparent;
    
    padding: 8px 16px;
    border: 2px solid var(--dark-grey);
    border-radius: 8px;

    transition: 0.3s ease;
}

.form-field .form-time input:hover {
    outline: none;

    border-color: var(--grey);
}

.form-field .form-time label {
    padding-left: 16px;
}

.questions {
    margin-bottom: 16px;
}

/* Question */

.question {
    padding: 16px;
    border: 2px solid var(--dark-grey);
    border-radius: 8px;
    margin-bottom: 16px;
}

.question .form-field input {
    width: 80% !important;
}

.question .form-field select {
    width: 100% !important;
}

.question .form-field:has(select) {
    flex-direction: column;
    align-items: flex-start;
}

.question .form-field:has(select) label {
    margin-bottom: 16px;
}

.answers {
    padding: 16px;
    border: 2px solid var(--dark-grey);
    border-radius: 8px;

    margin-bottom: 16px;
}

.answers .form-field:has(textarea), .answers textarea {
    margin-bottom: 0px;
}

/* Answer */

.answer {
    display: flex;
    align-items: center;

    margin-bottom: 16px;
}

/* Answer Text Field */

.answer input[type="text"] {
    width: 100%;
    height: 48px;

    background: transparent;
    
    padding: 8px 16px;
    border: 2px solid var(--dark-grey);
    border-radius: 8px;

    transition: 0.3s ease;
}

.answer input[type="text"]:focus {
    outline: none;

    border-color: var(--grey);
}

/* Answer Radio Button */

.answer .radio {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 18px;

    border: 2px solid var(--dark-grey);
    border-radius: 50%;
    margin: 0 8px;
}

.answer .radio:has(input:checked)
{
    border-color: var(--grey);
}

.answer .radio .checkmark {
    width: calc(100% - 6px);
    height: calc(100% - 6px);

    background-color: var(--orange);
    opacity: 0;

    border-radius: 50%;
    
    transition: 0.1s;
}

.answer .radio input {
    display: none;
}

.answer .radio input:checked + .checkmark {
    opacity: 1;
}

.orange-button {
    width: 100%;

    margin-top: 32px;
}